       ul {
           font-family: Arial;
           font-weight: bold;

       }
ul li {
    font-size: 50px;
}
ul li span {
    color: #90876e;
}
p > a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 30px;
}
body > a {
    text-decoration: none;
    font-size: 30px;
}
       .one{
           color: red;
       }
       .two{
           color: green;
       }
       .three{
           color: brown;
       }
       .four{
            color: gray;
       }
       .five{
           color: blue;
       }
       .six{
          color: beige;
       }
       .seven{
           color: pink;
       }
       .eight{
          color: aqua;
       }
       .nine{
          color: cornsilk;
       }
       .ten {
          color: black;
       }